.swiper {
}
.swiper-wrapper {
}
.swiper-pagination {
  width: 60px !important;
  margin: 0 0 20px 40px;
}
.swiper-pagination-bullet {
    padding: 6px;
    width: 12px;
    height: 12px;
    background: #FFFFFF !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #68033b !important;
  opacity: 1 !important;
}
